.sidebar {
  width: 100%;
  height: 100%;

  .home {
    height: 51px;
    margin: 12px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    .homeBtn {
      line-height: 51px;
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }

  .lists {
    height: calc(60% - 75px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    &.big {
      height: calc(100% - 50px) !important;
    }

    .list {
      margin-bottom: 24px;

      .listName {
        display: block;
        font-size: 1.2rem !important;
      }

      span {
        font-size: 0.8rem;
      }
    }

    div:not(.list) {
      position: sticky;
      top: 10px;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 12px;
      margin: 8px auto 24px auto;
      width: calc(100% - 12px);
    }

    div .createList {
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 100%;
      margin: 8px auto;
      text-align: center;
      font-size: 1.4rem;
    }

    span {
      width: 75%;
      display: block;
      margin: auto 8px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1.2rem;
      margin-top: 8px;
      cursor: pointer;
    }
  }

  .preview {
    height: 40%;
    width: 100%;
    text-align: center;

    &.empty {
      height: 0 !important;
    }

    div {
      padding: 12px;
      margin: 24px auto;
      width: calc(100% - 24px);
      height: calc(100% - 24px);
      border-radius: 12px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      overflow: hidden;
      background: no-repeat;
      background-size: cover;

      span {
        display: block;
        margin-bottom: 12px;
      }
    }

    .previewContainer {
      background-color: grey;

      .trackDetails {
        background-color: white;
        bottom: 0;
        position: fixed;
        width: calc(20% - 50px);
        height: calc(20% - 50px);
        text-overflow: ellipsis;
        overflow-x: hidden;
        overflow-y: scroll;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    border-radius: 12px;
        padding: 12px;
      }
    }
  }
}
