<!-- Sidebar to display lists and previews -->
<div class="sidebar" [ngClass]="previewAvailable ? '' : 'big'">
  <div class="navBtns">
    <button class="homeBtn" (click)="home()">Home</button>
    |<button class="logoutBtn" (click)="logoutOfApp()" [textContent]="access_level == 0 ? 'Login' : 'Logout'"></button>
    {{access_level == 3 ? '|' : ''}}<button *ngIf="access_level == 3" (click)="showUsers()">Users</button>
  </div>
  <div class="lists">
    <div><button class="createList" [ngbPopover]="listNameCreator" placement="bottom" [autoClose]="'outside'" #selectorPopover="ngbPopover">+ Create new list</button></div>

    <div *ngFor="let list of displayLists()" class="list" (click)="readList(list)">
      <span class="listName">{{list.listName}}</span>
      <span>{{getListInfo(list)}}</span>
    </div>
  </div>

  <ng-template #listNameCreator>
    <div class="searchBox d-flex">
      <input name="playlistName" type="text" placeholder="New Playlist Name" (keyup)="($event.key === 'Enter') ? selectorPopover.close() : ''; ($event.key === 'Enter') ? createList(name.value) : '';" #name>
      <input type="submit" class="searchBtn" value="" (click)="createList(name.value); selectorPopover.close()">
    </div>
  </ng-template>
</div>
