<div class="searchContainer">
  <form name="searchForm" id="searchForm">
    <div class="searchBox">
      <input name="trackName" type="text" placeholder="Search by Track">
      <input type="submit" class="searchBtn" value="">
    </div>
    <div class="searchBox">
      <input name="artistName" type="text" placeholder="Search by Artist">
      <input type="submit" class="searchBtn" value="">
    </div>
    <div class="searchBox">
      <input name="albumName" type="text" placeholder="Search by Album">
      <input type="submit" class="searchBtn" value="">
    </div>
  </form>
</div>
