<div class="main">
  <div class="login-card">
    <span class="title">Reset Password</span>
    <form (submit)="resetPassword($event, password.value, confirm.value);">
      <div class="searchBox">
        <input type="text" placeholder="New Password" #password>
      </div>
      <div class="searchBox">
        <input type="text" placeholder="Confirm New Password" #confirm>
      </div>

      <div class="error" *ngIf="error">
        <span>{{error}}</span>
      </div>

      <input type="submit" [value]="'Submit'">
    </form>
  </div>
</div>
