tr{
    align-items: center;
    margin-bottom: 12px;
    padding: 12px;
    
}

table{
    width: 100%;
    border: 1px solid;
}

td{
    width: 100px;
    border: 1px solid;
}

div{
    min-width: 500px
}
