<div id = "privacy" *ngIf="type==='privacy'">
    <span [contentEditable]="admin"  (input)="save()">
    <h1>Security and Privacy Policy:</h1>
    <h2>By using this site you agree to our policies.</h2>
    <h2>1.    Information We Collect</h2>
    <h3>a.    User email addresses are the only form of personal information collected.</h3>
    <h2>2.    Why Is Your Information Collected And How Is It Used</h2>
    <h3>a.    To verify our users and provide you with access to functionalities only available to registered users.</h3>
    <h3>b.    To contact you regarding DMCA violations, policy changes, and any other policy related announcements.</h3>
    <h3>c.    You may request to have your information removed at any time. Note you will also be unable to use functionalities exclusive to registered users. </h3>
    <h2>3.    Who Has Access To Your Information</h2>
    <h3>a.    Only site administrators may view your personal information.</h3>
    <h3>b.    Your information is not shared with any 3rd parties.</h3>
    <h2>4.    Changes To This Policy</h2>
    <h3>a.    In the event this policy is changed, you will be notified via your provided email.</h3>
    <h2>5.    Takeover or Dissolution</h2>
    <h3>a.    You will be notified of such an occurrence via your provided email.</h3>
    <h3>b.    You may choose to have your information deleted as a result of this event.</h3>
</span>
</div>
<div id = "use" *ngIf="type==='use'">
    <span [contentEditable]="admin">
        <h1>Acceptable Use:</h1>
        <h2>You may use our site only for lawful purposes. You may not use our site:</h2>
        <h3>1.    In any way that breaches applicable local, national, or international law or regulation.</h3>
        <h3>2.    In any way that advocates or glorifies serious physical harm towards an individual or group.</h3>
        <h3>3.    In any way that supprts terroism or violent extremism.</h3>
        <h3>4.    In any way that targets an individual or identifiable group for harassment or related abuse. </h3>
        <h3>5.    In any way that incites violence or hatred towards a person or group of people</h3>
        <h3>6.    In any way that impersonates others in order to deceive.</h3>
        <h3>7.    In any way that promotes sensitive content.</h3>
    </span>
</div>

<div id = "dmca" *ngIf="type==='dmca'">
    <span [contentEditable]="admin">
    <h1>DMCA Notice & Takedown Policy</h1>
    <h4>In accordance with the Digital Millennium Copyright Act, we will expeditiously respond to any claims of copyright infringement committed using our service if claims are sent to the following address: epigou@uwo.ca</h4>
    <h2>Your DMCA notice must include the following information:</h2>
    <h3>Infringing content:</h3>
    <h4>1.	Specify the location of the violating content (Ex. Review for the playlist named “My fav songs”, Review for the song “Side B By: Airway”</h4>
    <h4>2.	If Applicable, the username of the user that has provided/distributed the violating content</h4>
    <h3>About yourself:</h3>
    <h4>3.	The Copyright Owner Name</h4>
    <h4>4.  Your Full Name</h4>
    <h4>5.  Your company affiliation, if applicable</h4>
    <h4>6.  Your Mailing address</h4>
    <h4>7.	Your telephone number</h4>
    <h4>8.	Your email address</h4>
    <h4>9.  Your electronic or physical signature</h4>
    <h4>10.	The Copyright Owner Name</h4>
    <h3>The Following statements must be included in the body of the notice:</h3>
    <h4>•	I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorised by the copyright owner, its agent or the law (e.g. as a fair use)</h4>
    <h4>•	I hereby state that the information in this Notice is accurate and that I am the owner, or authorized to act on behalf of, the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed</h4>

    <h2>In the event of a DMCA violation:</h2>
    <h4>•	Your infringing contribution will be hidden from the public.</h4>
    <h4>•	You will receive an email notifying you of such occurrence.</h4>
    <h4>•	If after 14 days no action has been taken, the infringing mark will be removed from the contribution in question.</h4>
    <h4>•	You may contact us with questions and concerns regarding your violation at epigou@uwo.ca.</h4>
</span>
</div>