<div class="modal-body">

  <div id="privacy" *ngIf="type==='privacy'">
    <div class="descriptionArea">
      <button *ngIf="admin" (click)="editPolicy ? savePolicy(policy.value): '';editPolicy = !editPolicy">{{editPolicy ? 'Save Changes' : 'Edit Policy'}}</button>
      <div *ngIf="privacyPolicy && editPolicy === false" [innerHTML]="privacyPolicy" class="text-display"></div>
      <textarea [hidden]="!editPolicy" [value]="privacyPolicy || ''" [placeholder]="'New description...'" #policy></textarea>
    </div>
  </div>

  <div id="use" *ngIf="type==='use'">
    <div class="descriptionArea">
      <button *ngIf="admin" (click)="editPolicy ? savePolicy(policy.value): '';editPolicy = !editPolicy">{{editPolicy ? 'Save Changes' : 'Edit Policy'}}</button>
      <div *ngIf="usePolicy && editPolicy === false" [innerHTML]="usePolicy" class="text-display"></div>
      <textarea [hidden]="!editPolicy" [value]="usePolicy || ''" [placeholder]="'New description...'" #policy></textarea>
    </div>
  </div>

  <div id="dmca" *ngIf="type==='dmca'" >
    <div class="descriptionArea">
      <button *ngIf="admin" (click)="editPolicy ? savePolicy(policy.value): '';editPolicy = !editPolicy">{{editPolicy ? 'Save Changes' : 'Edit Policy'}}</button>
      <div *ngIf="dmcaPolicy && editPolicy === false" [innerHTML]="dmcaPolicy" class="text-display"></div>
      <textarea [hidden]="!editPolicy" [value]="dmcaPolicy || ''" [placeholder]="'New description...'" #policy></textarea>
    </div>
  </div>

</div>
