<div class = "privacy">
    <h1>Security and Privacy Policy:</h1>
    <h2>1.    Information we collect</h2>
    <h3>a.    User email addresses are the only form of personal information collected.</h3>
    <h2>2.    Why is your information collected and how is it used</h2>
    <h3>a.    To verify our users and provide you with access to functionalities only available to registered users.</h3>
    <h3>b.    To contact you regarding DMCA violations, policy changes, and any other policy related announcements.</h3>
    <h3>c.    You may request to have your information removed at any time. Note you will also be unable to use functionalities exclusive to registered users. </h3>
    <h2>3.    Who has access to your information</h2>
    <h3>a.    Only site administrators may view your personal information.</h3>
    <h3>b.    Your information is not shared with any 3rd parties.</h3>
    <h2>4.    Changes to this policy</h2>
    <h3>a.    In the event this policy is changed, you will be notified via your provided email .</h3>
    <h2>5.    In the event of a takeover or dissolution</h2>
    <h3>a.    You will be notified of such an occurrence via your provided email.</h3>
    <h3>b.    You may choose to have your information deleted as a result of this event.</h3>
</div>