.modal-body {
  max-height: 80vh;
  overflow-y: scroll;

  .descriptionArea {
    display: block;

    span {
      white-space: pre-wrap;
      display: block;
      max-height: 70vh;
      width: 100%;
    }

    textarea {
      display: block;
      height: 70vh;
      width: 100%;
    }
  }
}
