.preview {
  height: 40%;
  width: 100%;
  text-align: center;

  &.empty {
    height: 0 !important;
  }

  div {
    padding: 12px;
    margin: 24px auto;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow: hidden;
    background: no-repeat;
    background-size: cover;

    span {
      display: block;
      margin-bottom: 12px;
    }
  }

  .previewContainer {
    background-color: white;

    .trackDetails {
      background-color: white;
      bottom: 0;
      position: fixed;
      width: calc(20% - 50px);
      height: calc(20% - 50px);
      text-overflow: ellipsis;
      overflow-x: hidden;
      overflow-y: hidden;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    border-radius: 12px;
      padding: 12px;
    }
  }
}
