<ng-container *ngIf="credentials.jwt">
  <div class="track-page">

    <div class="sidebar">

      <app-sidebar (logout)="credentials = $event"></app-sidebar>

    </div>

    <div class="main">

      <app-track-search></app-track-search>

      <app-track-display></app-track-display>

      <div class="references">
        <span>Music data from: <a href="https://arxiv.org/abs/1612.01840" target="_blank">https://arxiv.org/abs/1612.01840</a></span>
        <span *ngIf="admin">  DMCA Admin Workflow Document: <a href="https://docs.google.com/document/d/1EcnV6M4NyOSQlJSVuMzS7uhacWVmqDoDjZziC-DI7B0/edit?usp=share_link" target="_blank">link</a></span>
      </div>

      <div class="policy">
        <button class="policyBtn" (click)="openPolicy('privacy')">Privacy Policy</button>
        <button class="useBtn" (click)="openPolicy('use')">Acceptable Use</button>
        <button class="dmcaBtn" (click)="openPolicy('dmca')">DMCA Notice & Takedown Policy</button>
        <button class="recordBtn" (click)="openTools()" *ngIf="admin">Record DMCA requests, notices, disputes</button>
      </div>

    </div>

  </div>
</ng-container>

<ng-container *ngIf="!credentials.jwt">
  <app-login (credentials)="credentials = $event"></app-login>
</ng-container>
