.track-page {
  display: flex;
  height: calc(100vh - 48px);

  .main {
    width: 80%;
  }

  .sidebar {
    width: 20%;
  }

  .references {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 70px);
  }
}
