.track-page {
  display: flex;
  height: calc(100vh - 48px);

  .main {
    width: 80%;
    position: relative;
  }

  .sidebar {
    width: 20%;
  }

  .references {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 36px;
    font-size: 18px;
    width: calc(100% - 48px);
    margin: 0 24px;
  }

  .policy {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: calc(100% - 48px);
    margin: 0 24px;

    button {
      background-color: #fafafa;
      border: none;
      border-radius: 12px;
      padding: 4px 12px;
      box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    }
  }

}
